/* general css */
:root {
    --site-primary: #FFA400;
    --site-secondary: #555555;
    --site-white: #fff;
    --site-black: #000;
    --site-bg: #202020;
    --site-bg-gray: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: signika;
}

@font-face {
    font-family: chewy;
    src: url('../font/Chewy/Chewy-Regular.ttf');
}

@font-face {
    font-family: signika;
    src: url('../font/Signika/Signika-VariableFont_GRAD\,wght.ttf');
}

.container {
    width: 1150px;
    margin: 0 auto;
    padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: chewy;
}

section {
    padding: 5rem 0;
}

/* navbar */
nav {
    padding: 0.5rem 0;
    background-color: var(--site-white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.logo {
    font-family: signika;
    color: var(--site-primary);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    color: var(--site-primary);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: var(--site-secondary);
}

nav .logo {
    font-size: 2rem;
    font-family: signika;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    padding: 1rem;
    display: block;
    font-family: chewy;
    font-weight: normal;
}

nav #toggle {
    border: 0;
    background-color: transparent;
    color: var(--site-primary);
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}

nav ul li a.active {
    color: var(--site-secondary) !important;
}

/* home */
#home {
    padding: 0;
}

#home .home-container {
    overflow: hidden;
}

#home .home-container .home-photo {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    display: none;
}

#home .home-container .home-photo.active {
    display: block !important;
}

#home .home-container .home-photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#home .home-container .home-content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home .home-container .home-content h1 {
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--site-primary);
}

#home .home-container .home-content h2 {
    color: var(--site-white);
    text-transform: uppercase;
    margin-bottom: 0.7rem;
}

#home .home-container .home-content p {
    color: var(--site-white);
    font-family: signika;
}

#home button {
    font-size: 1.3rem;
    background-color: var(--site-white);
    border: 0;
    padding: .5rem;
    position: absolute;
}

#home button#prev {
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
}

#home button#next {
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);

}

/* about */
#about .container {
    display: flex;
    flex-wrap: wrap;
}

#about .about-content,
#about .about-img {
    width: 50%;
}

#about .about-content h1 {
    color: var(--site-primary);
    margin-bottom: 1rem;
}

#about .about-content h2 {
    color: var(--site-primary);
    margin-bottom: 0.7rem;
}

#about .about-content p {
    margin-bottom: 0.5rem;
}

#about .about-img {
    padding: 5rem;
}

#about .about-img img {
    width: 100%;
    height: 100%;
    outline: 1px solid var(--site-black);
    outline-offset: 1rem;
}

/* gallery */
.title {
    color: var(--site-primary);
    text-transform: uppercase;
    padding: 2rem 0;
    text-align: center;
    position: relative;
}

.title::after {
    content: '';
    width: 150px;
    height: 3px;
    background-color: var(--site-primary);
    display: inline-block;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);

}

#gallery {
    background-color: var(--site-bg-gray);
}

.gallery-card {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0;
}

.gallery-card .card {
    flex: 300px 1 0;
}

.gallery-card .card:hover {
    transform: scale(1.1);
    transition: all 1s;
}

.gallery-card .card .card-img {
    width: 100%;
    aspect-ratio: 4/3;
}

.gallery-card .card .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-card .card .card-content {
    padding: 1rem;
    background-color: var(--site-white);
}

.gallery-card .card .card-content h2 {
    color: var(--site-primary);
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}

.gallery-card .card .card-content p {
    font-weight: bold;
}

/* contact */
#contact form {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

#contact form>div {
    width: 45%;
}

#contact form input,
#contact form textarea,
#contact form button {
    width: 100%;
    padding: .5rem;
    margin: .5rem 0;
    border-radius: .1rem;
    border: 1px solid var(--site-secondary);
}

#contact form textarea {
    height: 100%;
}

#contact form button {
    background-color: transparent;
    cursor: pointer;
}

#contact form button:hover {
    background-color: var(--site-primary);
    color: var(--site-white);
}

#contact form input::placeholder,
#contact form textarea::placeholder {
    font-size: 1rem;
}

#contact .contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contact .contact-info>div {
    width: 32%;
}

#contact .contact-info h2 {
    color: var(--site-primary);
    text-transform: uppercase;
    padding: 1rem 0;
}

#contact .contact-info ul {
    list-style: none;
}

#contact .contact-info li {
    padding: 0.3rem 0;
}

#contact .contact-info a {
    color: var(--site-primary);
    text-decoration: none;
}

#contact .contact-info a:hover {
    color: var(--site-secondary);
}

/* footer */

footer {
    padding: 5rem 0;
    background-color: var(--site-bg);
}

footer p {
    color: var(--site-white);
    text-align: center;
}

footer .divider {
    width: 10rem;
    height: .1rem;
    background-color: var(--site-primary);
    margin: 2rem auto;
}

footer .social {
    text-align: center;
}

footer .social a {
    color: var(--site-secondary);
    padding: 1rem;
    display: inline-block;
    transition: all .7s;
}

footer .social a:hover {
    background-color: var(--site-primary);
    color: var(--site-white);
}

/* media query */

@media (max-width: 1200px) {
    .container {
        width: 850px;
    }

    #about .about-img {
        padding: 2rem;
    }
}

@media (max-width: 900px) {
    .container {
        width: 550px;
    }

    nav #toggle {
        display: block;
    }

    nav ul {
        /* display: none; */
        clip-path: polygon(100% 0%, 100% 0%, 0% 0%, 0% 0%);
        background-color: var(--site-white);
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
    }

    nav ul.active {
        /* display: block; */
        clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 100%);
        transition: all 1s;
    }

    nav ul li {
        display: block;
    }

    #about .about-content,
    #about .about-img {
        width: 100%;
    }

    #about .about-img {
        padding-left: 0;
    }
}

@media (max-width: 675px) {
    .container {
        width: 100%;
    }

    #contact form>div {
        width: 100%;
    }

    #contact .contact-info>div {
        width: 100%;
        margin-bottom: 1rem;
    }
}